<p id="notice"><%= notice %></p>

<h1>Listing Survey Money Answers</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @survey_money_answers.each do |survey_money_answer| %>
      <tr>
        <td><%= link_to 'Show', survey_money_answer %></td>
        <td><%= link_to 'Edit', edit_survey_money_answer_path(survey_money_answer) %></td>
        <td><%= link_to 'Delete', survey_money_answer, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Survey money answer', new_survey_money_answer_path %>
