<%= javascript_tag do %>
    window.max_budget = <%= @survey_submission.survey.max_budget %>
<% end %>

<h1 class="page-header"><%= @survey_submission.survey.title %></h1>

<%= simple_form_for([@survey, @survey_submission]) do |f| %>
  <%= f.error_notification %>
  <% if @survey_submission.survey.budgeting? %>
    <p>
      <strong>The plan maximum budget is</strong>
      <span id="max_budget"><%= number_to_currency(@survey_submission.survey.max_budget, precision: 0) %></span>
    </p>

    <div id="submission_spending_bar" class="progress">
      <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%;">
        <p>
          <strong>Your plan costs</strong>
          <span id="submission_spending_value"></span>
        </p>
      </div>
    </div>
  <% end %>



  <div class="has-error"><%= f.error :spending %></div>

  <div class="survey_money_answers container">
    <%= f.simple_fields_for :survey_money_answers do |response| %>
      <%= render "survey_money_answer_fields", f: response %>
    <% end %>
  </div>
  <div class="survey_openend_answers container">
    <%= f.simple_fields_for :survey_openend_answers do |response| %>
      <%= render "survey_openend_answer_fields", f: response %>
    <% end %>
  </div>
  <div class="survey_rating_answers container">
    <%= f.simple_fields_for :survey_rating_answers do |response| %>
      <%= render "survey_rating_answer_fields", f: response %>
    <% end %>
  </div>

  <div class="form-inputs">
    <h2>Thank You!</h2>
    <h4>Please, give us some information about yourself.</h4>
    <%= f.input :email %>
    <label class="control-label">Do you live in the community?</label>
    <%= f.collection_radio_buttons :is_local, [[true, 'Yes'] ,[false, 'No']], :first, :last, class: "radio-inline" %>
    <%= f.input :age_range, collection: @survey_submission.survey.AGE_RANGE_CHOICES %>
    <%= f.input :comment, label: "Share any additional thoughts here." %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, "Submit" %>
  </div>
<% end %>
