<div class='nested-fields row'>

  <h2><%= f.object.survey_rating_question.try(:title) || "Untitled" %></h2>
  <%= f.input :survey_rating_question_id, as: :hidden %>
  <div class="form-inputs col-md-6">
    <div class="row">
      <%= f.input :value, label: false, input_html: { class: "value_answer slider_answer",
        "data-slider-id": "default-slider",
        "data-slider-min": f.object.survey_rating_question.min,
        "data-slider-max": f.object.survey_rating_question.max,
        "data-slider-step": f.object.survey_rating_question.step,
        "data-slider-ticks": f.object.survey_rating_question.tick(:value),
        "data-slider-ticks-labels": f.object.survey_rating_question.tick(:label),
        "data-slider-ticks-snap-bounds": f.object.survey_rating_question
                                          .survey_question_ticks.maximum(:value) || nil,
        "data-slider-tooltip": "show"
        # "data-slider-value is hidding in
        # bootstrap-slider's javascript(.slider())"
        } %>
    </div>
  </div>
  <p class="col-md-6 text-justify">
    <%= f.object.survey_rating_question.try(:body) %>
  </p>

  <hr>
</div>
