<div class='nested-fields row'>

  <h2><%= f.object.survey_money_question.try(:title) || "Untitled" %></h2>
  <%= f.input :survey_money_question_id, as: :hidden %>
  <div class="form-inputs col-md-6">
    <div class="row">
      <%= f.input :dollar, label: false, input_html: { class: "dollar_answer slider_answer",
        "data-slider-id": "default-slider",
        "data-slider-min": f.object.survey_money_question.min,
        "data-slider-max": f.object.survey_money_question.max,
        "data-slider-step": f.object.survey_money_question.step,
        "data-slider-ticks": f.object.survey_money_question.tick(:value),
        "data-slider-ticks-labels": f.object.survey_money_question.tick(:label),
        "data-slider-ticks-snap-bounds": f.object.survey_money_question
                                          .survey_question_ticks.maximum(:value) || nil,
        "data-slider-tooltip": "show"
        # "data-slider-value is hidding in
        # bootstrap-slider's javascript(.slider())"
        } %>
    </div>
    <div class="row">
      <div class="slider-min col-xs-2 text-left">
        <%= number_to_currency(f.object.survey_money_question.min_value, precision: 0) %>
      </div>
      <div class="slider-max col-xs-2 col-xs-offset-8 text-right">
        <%= number_to_currency(f.object.survey_money_question.max_value, precision: 0) %>
      </div>
    </div>
  </div>
  <p class="col-md-6 text-justify">
    <%= f.object.survey_money_question.try(:body) %>
  </p>

  <hr>
</div>
