<div class='nested-fields row'>
  <h2><%= f.object.survey_question.try(:title) || "Untitled" %></h2>
  <%= f.input :survey_openend_question_id, as: :hidden %>
  <div class="form-inputs col-md-6">
    <%= f.input :thought, label: false %>
  </div>
  <p class="col-md-6 text-justify">
    <%= f.object.survey_question.try(:body) %>
  </p>

  <hr>
</div>
