<%= render 'form' %>

<%= link_to 'Show', @survey_submission %> |
<%= link_to 'Completed Surveys', survey_survey_submissions_path(@survey_submission.survey) if user_signed_in? %> |
<%= link_to 'All Surveys', survey_survey_submissions_path(@survey_submission.survey)%>
