<% bar_size = { height: 500, width: 500} %>
<% radar_size = { height: 500, width: 500} %>

<p id="notice"><%= notice %></p>

<h1><strong><%= @survey.title %></strong></h1>

<div class="page-header">
  <h3>Spending Overview</h3>
</div>

<% if @survey.budgeting? %>
  <div class="panel panel-default">
    <div class="panel-heading"><h3>Average Spending</h3></div>
    <div class="panel-body text-center">
      <%= radar :radar_chart, radar_size, @radar_data %>
      <p>
        <Strong>The average plan costs</Strong>
        <%= number_to_currency @survey.average_spending, precision: 0 %>
      </p>
    </div>
  </div>
<% end %>

<% if @survey.rating? %>
  <div class="panel panel-default">
    <div class="panel-heading"><h3>Average Rating</h3></div>
    <div class="panel-body text-center">
      <%= bar :rating_chart, bar_size, @chart_rating_average %>
      <p><Strong>The average rating was</Strong>
        <%= number_with_precision @survey.average_rating, precision: 1 %>
      </p>
    </div>
  </div>
<% end %>

<div class="page-header">
  <h3>Disaggregated Frequency Charts</h3>
</div>
<div class="container">
  <% @answers_histogram_data.each do |question_record, chart_json| %>
  <div class="col-md-6">
    <div class="panel panel-default">
    <h4 class="panel-heading">
      <strong><%= question_record.title %></strong>
      <%= question_record.type.titleize %> Component
    </h4>
    <div class="panel-body text-center"><%= bar question_record.id, bar_size, chart_json %></div>
  </div>
</div>
  <% end %>
</div>

<div class="page-header">
  <h3>Individual Submissions</h3>
</div>
<table>
<table class="table table-striped">
  <thead>
    <tr>
      <th>Id</th>
      <th>Email</th>
      <th>Plan Cost</th>
      <th>Plan Average Rating</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @survey_submissions.each do |survey_submission| %>
      <tr>
        <td><%= survey_submission.id %></td>
        <td><%= survey_submission.email || "" %></td>
        <td><%= number_to_currency survey_submission.submission_spending, precision: 0 %></td>
        <td><%= number_with_precision survey_submission.submission_avg_rating, precision: 1 %></td>
        <td class="col-sm-2 text-right">
          <span><%= link_to 'Show', survey_submission %> |</span>
          <span><%= link_to 'Edit', edit_survey_submission_path(survey_submission) %> |</span>
          <span><%= link_to 'Delete', survey_submission, method: :delete, data: { confirm: 'Are you sure?' } %></span>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Take', new_survey_survey_submission_path %> |
<%= link_to 'Show Survey', @survey %> |
<%= link_to 'All Surveys', surveys_path %>
