<%= render 'form' %>

<% if user_signed_in?  %>
  <%= link_to 'Show Survey', @survey_submission.survey %> |
  <%= link_to 'Edit Survey', edit_survey_path(@survey_submission.survey) %> |
  <%= link_to 'Completed Surveys', survey_survey_submissions_path(@survey_submission.survey) %>
<% end %>
