<% chart_size = { height: 500, width: 500} %>

<p id="notice"><%= notice %></p>

<div>
  <h2><%= @survey_submission.survey.title %></h2>
  <div>
    <p><Strong>Submitted by</Strong> <%= @survey_submission.email || "Unknown" %></p>
  </div>
</div>

<div id="submitted_survey">
  <p><Strong>Your plan costs</Strong> <%= number_to_currency(@survey_submission.submission_spending, precision: 0) %></p>

  <h4>Spending Profile</h4>
  <%= radar :radar_chart, chart_size, @survey_submission.chart_money_datum %>

  <% @survey_submission.survey_money_answers.each do |response| %>
    <h4><%= response.survey_question.title %></h4>
    <p><%= response.survey_question.body %></p>
    <div class="survey_questions">
      <h4><%= number_to_currency(response.dollar) %></h4>
    <div>
    <hr/>
  <% end %>
  <% @survey_submission.survey_openend_answers.each do |response| %>
    <h4><%= response.survey_question.title %></h4>
    <p><%= response.survey_question.body %></p>
    <div class="survey_questions">
      <h4><%= response.thought %></h4>
    <div>
    <hr/>
  <% end %>
  <% @survey_submission.survey_rating_answers.each do |response| %>
    <h4><%= response.survey_question.title %></h4>
    <p><%= response.survey_question.body %></p>
    <div class="survey_questions">
      <h4><%= response.value %></h4>
    <div>
    <hr/>
  <% end %>
</div>

<% if user_signed_in?  %>
  <%= link_to 'Edit Submission', edit_survey_submission_path(@survey_submission) %> |
  <%= link_to 'Show Survey', @survey_submission.survey %> |
  <%= link_to 'Edit Survey', edit_survey_path(@survey_submission.survey) %> |
  <%= link_to 'Completed Surveys', survey_survey_submissions_path(@survey_submission.survey) %>
<% end %>
