<%= simple_form_for(@survey_question) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :title %>
    <%= f.input :body %>
    <%= f.association :survey %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
