<p id="notice"><%= notice %></p>

<h1>Listing Survey Questions</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Body</th>
      <th>Survey</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @survey_questions.each do |survey_question| %>
      <tr>
        <td><%= survey_question.title %></td>
        <td><%= survey_question.body %></td>
        <td><%= survey_question.survey %></td>
        <td><%= link_to 'Show', survey_question %></td>
        <td><%= link_to 'Edit', edit_survey_question_path(survey_question) %></td>
        <td><%= link_to 'Delete', survey_question, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Survey question', new_survey_survey_question_path %>
