<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @survey_question.title %>
</p>

<p>
  <strong>Body:</strong>
  <%= @survey_question.body %>
</p>

<p>
  <strong>Survey:</strong>
  <%= @survey_question.survey %>
</p>

<%= link_to 'Edit', edit_survey_question_path(@survey_question) %> |
<%= link_to 'Back', survey_questions_path %>
