<%= simple_form_for(@survey) do |f| %>
  <%= f.error_notification %>
  <div class="form-inputs">
    <%= f.input :title, label: "Survey title" %>
    <%= f.input :max_budget, label: "Maximum budget" %>
  </div>

  <div id="survey_questions">
    <%= f.simple_fields_for :survey_money_questions do |r| %>
      <%= render "survey_money_question_fields", f: r %>
    <% end %>

    <%= f.simple_fields_for :survey_openend_questions do |r| %>
      <%= render "survey_openend_question_fields", f: r %>
    <% end %>

    <%= f.simple_fields_for :survey_rating_questions do |r| %>
      <%= render "survey_rating_question_fields", f: r %>
    <% end %>

    <div class="links">
      <%= link_to_add_association 'add budget question |', f, :survey_money_questions %>
      <%= link_to_add_association 'add rating question |', f, :survey_rating_questions %>
      <%= link_to_add_association 'add open-ended question', f, :survey_openend_questions %>
    </div>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
