<div class='nested-fields'>
  <h3><%= f.object.type.titleize %></h3>
  <div class="form-inputs well">
    <%= f.input :title, label: "Input component title" %>
    <%= f.input :body, label: "Input component description" %>
  </div>

  <%= link_to_remove_association "remove question", f, class: "btn btn-danger btn-sm" %>
  <hr>
</div>
