<div class='nested-fields'>
  <h3><%= f.object.type.titleize %></h3>
  <div class="form-inputs well">
    <%= f.input :title, label: "Input component title" %>
    <%= f.input :body, label: "Input component description" %>
    <div class="row no-gutter">
      <%= f.input :min, wrapper_html: {class: "col-md-4"}, label: "Minimum value" %>
      <%= f.input :max, wrapper_html: {class: "col-md-4"}, label: "Maximum value" %>
      <%= f.input :step, wrapper_html: {class: "col-md-4"},
                                       input_html: {value: f.object.try(:step) || 1},
                                       label: "Minimum increment" %>
    </div>
    <div class="survey_question_ticks">
        <%= f.simple_fields_for :survey_question_ticks do |tick| %>
          <%= render "survey_question_tick_fields", f: tick %>
        <% end %>
        <div class="links btn-group role="group"">
          <%= link_to_add_association 'add tick', f, :survey_question_ticks,
                                              class: "btn btn-default btn-sm" %>
          <%= link_to_remove_association 'clear ticks', f,
                                              wrapper_class: '.tick_fields',
                                              class: 'btn btn-default btn-sm' %>
        </div>
    </div>
  </div>

  <%= link_to_remove_association "remove question", f, class: "btn btn-danger btn-sm" %>
  <hr>
</div>
