<div class="tick_fields row no-gutter">
  <%= f.input :value, wrapper_html: { class: "col-xs-6" }, label: "Input tick value" %>
  <%= f.input :label, wrapper_html: { class: "col-xs-6" }, label: "Input tick label" %>
</div>
