<p id="notice"><%= notice %></p>

<h1>Surveys</h1>

<div class="table-responsive">
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Title</th>
        <th>Created By</th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <% @surveys.each do |survey| %>
        <tr>
          <div>
            <td><%= survey.title %></td>
            <td><%= survey.user.try(:email) %></td>
          </div>
          <td class="col-md-4 text-right">
            <span><%= link_to 'Take', new_survey_survey_submission_path(survey) %> |</span>
            <span><%= link_to 'Show', survey %> |</span>
            <span><%= link_to 'Completed Surveys', survey_survey_submissions_path(survey) %> |</span>
            <span><%= link_to 'Edit', edit_survey_path(survey) %> |</span>
            <span><%= link_to 'Delete', survey, method: :delete, data: { confirm: 'Are you sure?' } %> </span>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<br>

<%= link_to 'New Survey', new_survey_path %>
