<p id="notice"><%= notice %></p>

<h2><%= @survey.title %></h2>

<p>
  <strong>Created by:</strong>
  <%= @survey.user.email %>
</p>

<div id="survey_questions">
    <% @survey.survey_questions.each do |question| %>
      <h4><%= question.title %></h4>
      <p><%= question.body %></p>
      <hr/>
    <% end %>
</div>

<%= link_to 'Take', new_survey_survey_submission_path(@survey) %> |
<%= link_to 'Completed Surveys', survey_survey_submissions_path(@survey) %> |
<%= link_to 'All Surveys', surveys_path %> |
<%= link_to 'Edit', edit_survey_path(@survey) %> |
<%= link_to 'Delete', @survey, method: :delete, data: { confirm: 'Are you sure?' } %>
