// Place all the styles related to the survey_submissions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#default-slider {
  width: 100%;
}

#default-slider .slider-selection {
  background: #BABABA;
}

.progress.affix {
    top: 0;
    left: 0;
    width: 100%;
    z-index: 100;
}
