<!DOCTYPE html>
<html>
<head>
  <title>BudgetSurvey</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <nav class="navbar navbar-default">
    <div class="container">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand">Budget Survey</a>
        </div>

        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav">
            <% if user_signed_in? %>
              <li><%= link_to "All Surveys", surveys_path, {class: "nav nav-pills"} %></li>
              <li><%= link_to "New Survey", new_survey_path, {class: "nav nav-pills"} %></li>
            <% end %>
          </ul>
          <div class="navbar-right">
            <% if user_signed_in? %>
              <form>
                <%= link_to "Log out", destroy_user_session_path, method: :delete,
                                                                  class: "btn btn-default navbar-btn" %>
                <p class="navbar-text">
                  Signed in as <%= link_to current_user.email, edit_user_registration_path, class: "navbar-link" %>
                </p>
              </form>
            <% else %>
              <form>
                <%= link_to "Sign In", new_user_session_path, class: "btn btn-default navbar-btn" %>
                <%= link_to "Sign Up", new_user_registration_path, class: "btn btn-default navbar-btn" %>
              </form>
            <% end %>
          </div>
        </div><!-- /.navbar-collapse -->
      </div>
    </div>
  </nav>
  <div class="container">

  <%= yield %>
</div>
</body>
</html>
